<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".activity.SnsApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="SNS"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Sns"
        tools:targetApi="31" >
        <activity android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FullMessageListActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="motu.baidu.com"
                    android:path="/hot_msgs"
                    android:scheme="photowonder" />
                <data
                    android:host="motu.baidu.com"
                    android:path="/latest_msgs"
                    android:scheme="photowonder" />
                <data
                    android:host="motu.baidu.com"
                    android:path="/user_msgs"
                    android:scheme="photowonder" />
                <data
                    android:host="motu.baidu.com"
                    android:path="/tag_msgs"
                    android:scheme="photowonder"/>
                <data
                    android:host="motu.baidu.com"
                    android:path="/message_details"
                    android:scheme="photowonder" />
                <data
                    android:host="motu.baidu.com"
                    android:path="/campaign_msgs"
                    android:scheme="photowonder" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SimpleMessageListActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="motu.baidu.com"
                    android:path="/tag_message_list"
                    android:scheme="photowonder" />
                <data
                    android:host="motu.baidu.com"
                    android:path="/latest_message_list"
                    android:scheme="photowonder" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MessageCommentActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="motu.baidu.com"
                    android:path="/browse_message_comment"
                    android:scheme="photowonder"/>
                <data
                    android:host="motu.baidu.com"
                    android:path="/add_message_comment"
                    android:scheme="photowonder"/>
            </intent-filter>
        </activity>
    </application>

</manifest>